<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurssiarvosanat</title>
    <script type="module" src="/inc/front.js"></script>
    <link rel="stylesheet" href="/inc/styles.css">
</head>
<body>
    <h1>Kurssiarvosanat</h1>
    <div>
        <form>
            <input type="text" id="kurssi" placeholder="kurssin nimi">
            <input type="text" id="opiskelija" placeholder="opiskelijan nimi">
            <button type="submit" id="hae">Hae</button>
        </form>
        <div id="hakutulos"></div>
    </div>
    <div>
        <h2>Lisää kurssiarvosanoja</h2>
        <textarea id="kurssiarvosanat"></textarea>
        <button id="lataa">Lisää</button>
    </div>
</body>
</html>