*{
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color:pink;
}
textarea {
    display: block;
    margin: 0 auto 1em auto;
    background-color:white;
}

h1,
h2
{
    color:indianred;
}



